# Fire Data Collection

In [15]:
data_folder = "../../data/raw/"
data_files = { 
    "fire_dz": "viirs-jpss1_2024_Algeria.csv",
    "fire_tn": "viirs-jpss1_2024_Tunisia.csv",
    "landcover_dz": "landcover_dz/dza_gc_adg.shp",
    "landcover_tn": "landcover_tn/tun_gc_adg.shp", # updated the file
    "climate_prec": "wc2.1_cruts4.09_5m_prec_2020-2024",
    "climate_tmax": "wc2.1_cruts4.09_5m_tmax_2020-2024",
    "climate_tmin": "wc2.1_cruts4.09_5m_tmin_2020-2024",
    "elevation": "be15_grd/be15_grd",
    "dz_boundaries": "gadm41_DZA_shp/gadm41_DZA_0.shp",
    "tn_boundaries": "gadm41_TUN_shp/gadm41_TUN_0.shp",
    "soil": "HWSD2_RASTER/HWSD2.bil"
}

output_folder = "../../data/processed"
output_folders = {
    "fire": "fire",
    "landcover": "landcover",
    "climate": "climate",
    "elevation": "elevation",
    "soil": "soil"
}

In [ ]:
import pandas as pd
import os

### Merging Algeria & Tunisia

In [12]:
# Loading the DZ data
fire_dz_filepath = os.path.join(data_folder, data_files["fire_dz"])
fire_dz_df = pd.read_csv(fire_dz_filepath, parse_dates=[['acq_date', 'acq_time']])
fire_dz_df.head()

/tmp/ipykernel_31227/3984740382.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  fire_dz_df = pd.read_csv(fire_dz_filepath, parse_dates=[['acq_date', 'acq_time']])

,acq_date_acq_time,latitude,longitude,bright_ti4,scan,track,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,2024-01-01 00:03:00,27.72818,9.87200,295.51,0.76,0.77,N20,VIIRS,n,2,277.66,1.24,N,2
1,2024-01-01 00:03:00,28.63288,9.77909,301.80,0.79,0.78,N20,VIIRS,n,2,277.05,1.57,N,2
2,2024-01-01 00:03:00,28.64012,9.77953,298.65,0.79,0.78,N20,VIIRS,n,2,277.04,1.34,N,2
3,2024-01-01 01:41:00,36.74886,6.25409,338.04,0.46,0.39,N20,VIIRS,n,2,257.28,5.21,N,2
4,2024-01-01 01:41:00,35.87978,4.44782,309.49,0.41,0.37,N20,VIIRS,n,2,272.08,1.58,N,2

In [13]:
# Loading the TN data
fire_tn_filepath = os.path.join(data_folder, data_files["fire_tn"])
fire_tn_df = pd.read_csv(fire_tn_filepath, parse_dates=[['acq_date', 'acq_time']])
fire_tn_df.head()

/tmp/ipykernel_31227/3847715145.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  fire_tn_df = pd.read_csv(fire_tn_filepath, parse_dates=[['acq_date', 'acq_time']])

,acq_date_acq_time,latitude,longitude,bright_ti4,scan,track,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,2024-01-01 01:42:00,31.64847,9.16945,315.79,0.53,0.50,N20,VIIRS,n,2,279.09,2.20,N,2
1,2024-01-01 01:42:00,31.49290,9.48947,302.32,0.56,0.51,N20,VIIRS,n,2,276.10,1.23,N,0
2,2024-01-01 01:42:00,31.49524,9.49053,301.88,0.56,0.51,N20,VIIRS,n,2,276.12,0.77,N,0
3,2024-01-01 01:42:00,33.36728,8.54768,302.58,0.45,0.47,N20,VIIRS,n,2,277.15,0.80,N,2
4,2024-01-02 01:24:00,31.64812,9.17107,320.80,0.46,0.39,N20,VIIRS,n,2,278.37,2.44,N,2

In [14]:
# We add a country column 
fire_dz_df["country"] = "DZ"
fire_tn_df["country"] = "TN"

# Vertical concatenation
fire_df = pd.concat([fire_dz_df, fire_tn_df])

fire_df.head()

,acq_date_acq_time,latitude,longitude,bright_ti4,scan,track,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type,country
0,2024-01-01 00:03:00,27.72818,9.87200,295.51,0.76,0.77,N20,VIIRS,n,2,277.66,1.24,N,2,DZ
1,2024-01-01 00:03:00,28.63288,9.77909,301.80,0.79,0.78,N20,VIIRS,n,2,277.05,1.57,N,2,DZ
2,2024-01-01 00:03:00,28.64012,9.77953,298.65,0.79,0.78,N20,VIIRS,n,2,277.04,1.34,N,2,DZ
3,2024-01-01 01:41:00,36.74886,6.25409,338.04,0.46,0.39,N20,VIIRS,n,2,257.28,5.21,N,2,DZ
4,2024-01-01 01:41:00,35.87978,4.44782,309.49,0.41,0.37,N20,VIIRS,n,2,272.08,1.58,N,2,DZ

### Saving `csv` file

In [19]:
output_base = os.path.join(output_folder, output_folders["fire"])
os.makedirs(output_base, exist_ok=True)
output_filepath = os.path.join(output_base, "fire.csv")

fire_df.to_csv(output_filepath, index=False)

print(f"Saved combined fire DF to: {output_filepath}")

Saved combined fire DF to: ../../data/processed/fire/fire.csv